<h1>Table of Contents<span class="tocSkip"></span></h1>
<div class="toc"><ul class="toc-item"></ul></div>

In [1]:
from dataset.load_dataset import load_click, load_order, load_sku, load_user
from dataset.join_dataset import join_click_order
from dataset.select_data import select_timerange
from dataset.transform import to_sequence

In [3]:
print(select_timerange.__doc__)

    select data within a time range

    >>> select_timerange(DataFrame, '2019-1-1', '2019-2-1')

In [4]:
df_click_order = join_click_order() # 获取click表格和order表格的join
df_click_order.head()

,user_ID,sku_ID,request_date,request_time,order_date,order_ID,if_order
815930,-,e88f7a67c7,2018-02-28,2018-02-28 23:59:08,NaT,NaN,False
270065,-,b9f08a2a2a,2018-02-28,2018-02-28 23:59:15,NaT,NaN,False
899921,-,7f0ddbcdde,2018-02-28,2018-02-28 23:59:25,NaT,NaN,False
617224,-,1b3f5d4d21,2018-02-28,2018-02-28 23:59:32,NaT,NaN,False
77180,-,2e6929ecb9,2018-02-28,2018-02-28 23:59:37,NaT,NaN,False

In [5]:
df_sku = load_sku()

In [6]:
df_click_order_sku = df_click_order.merge(df_sku, left_on='sku_ID',
                                                right_on = 'sku_ID')
df_click_order_sku.head()

,user_ID,sku_ID,request_date,request_time,order_date,order_ID,if_order,type,brand_ID,attribute1,attribute2,activate_date,deactivate_date
0,-,e88f7a67c7,2018-02-28,2018-02-28 23:59:08,NaT,NaN,False,2,08b73dd77a,2.0,50.0,NaN,NaN
1,-,e88f7a67c7,2018-03-02,2018-03-02 07:47:22,NaT,NaN,False,2,08b73dd77a,2.0,50.0,NaN,NaN
2,-,e88f7a67c7,2018-03-04,2018-03-04 21:38:58,NaT,NaN,False,2,08b73dd77a,2.0,50.0,NaN,NaN
3,-,e88f7a67c7,2018-03-07,2018-03-07 11:05:56,NaT,NaN,False,2,08b73dd77a,2.0,50.0,NaN,NaN
4,-,e88f7a67c7,2018-03-07,2018-03-07 11:22:30,NaT,NaN,False,2,08b73dd77a,2.0,50.0,NaN,NaN

In [7]:
 # 将df_click_order表格转为序列数据
click_sequence = to_sequence(df_click_order_sku, 1000000)
print(click_sequence[10])

# [用户id， [产品id序列], [点击时间序列], [是否购买序列]]

100%|██████████| 1000000/1000000 [00:59<00:00, 16889.82it/s]
['0db6139767', ['e88f7a67c7'], [Timestamp('2018-03-27 13:05:41')], [False]]

In [8]:
print(click_sequence[15])

['11a099c185', ['e88f7a67c7', 'e88f7a67c7', 'e88f7a67c7'], [Timestamp('2018-03-15 16:49:17'), Timestamp('2018-03-18 08:47:55'), Timestamp('2018-03-18 08:48:23')], [False, False, False]]